body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
}

.project {
    /*
    width: 200px;
    height: 75px;
    background: rgb(43, 197, 220);
    color: white;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    border-radius: 50%;*/

    background-color: #3498db;
    color: white;
    align-items: center;
    justify-content: center;    
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin: 20px auto;
    display: flex;    
    transition: transform 0.3s ease, background-color 0.3s ease;



}

/* Animaciones */
.project:hover {
    transform: scale(1.2);
    background-color: rgb(150, 235, 181);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}